[user]
	name = Jakob Pupke
	email = jakop@pm.me
[core]
	excludesfile = /Users/jacke/.gitignore
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	gpgsign = true
[pull]
	rebase = false
[branch]
	sort = -committerdate
